body {
  background-color: #f0f0f0;
  color: #2b2b2b;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

#mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(43, 43, 43, 0.3);
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

input,
select,
button {
  padding: 10px;
}

button {
  background-color: #ff00a6;
  border: none;
  color: #f0f0f0;
  cursor: pointer;
}

button:hover {
  background-color: hsl(145, 100%, 50%);
}

#mealPlanDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 20px;
}

#mealPlanDisplay div {
  padding: 20px;
  background-color: #e0e0e0;
  box-shadow: 0 0 10px 5px #ffd700;
  width: 100%;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ffd700;
  padding: 20px;
  text-align: center;
  vertical-align: top;
}

img {
  border-radius: 20px;
  object-fit: cover;
}

a {
  color: #ffd700;
}
